<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo ?? 'Sem título'}}</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <h1>Feira da Fruta</h1>
    <p>
    <a href="fruta.php">Escolha a sua fruta</a>
    |
    <a href="sociedade.php">Importância da fruta na sociedade</a>
    |
    <a href="contato.php">Contato</a>
    </p>
    <hr>
    {% block conteudo %}{% endblock %}
</body>
</html>