{% extends "base.html" %}
{% block conteudo %}
	<h3>Adicionar item</h3>
	<form action="compromissos_adc.php" method="post">
		<input type="text" name="descricao">
        <input type="date" name="data">
		<input type="submit" value="Adicionar">
	</form>
	<hr>

	<p>Esta é sua lista de compromissos:</p>
	<table border="1">
		{% for compromisso in compromissos %}
			<tr>
				<td>{{compromisso.descricao}}</td>
                <td>{{compromisso.data}}</td>
                <td>{{compromisso.fimdesemana ? 'Sim' : 'Não'}}</td>
			</tr>

		{% endfor %}
	</table>
{% endblock %}
